/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.searchForm {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding: 0 1rem;
}

.people {
  margin: 3rem auto;
}
