/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.people {
  margin: 3rem auto;

& .searchForm {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}

& h2 {
  font-weight: 600;
  font-size: 1rem;
}
}

@media all and (min-width: 40em) {
  /** changes based on font-size; zomming/magnifying **/
  .people aside {
    display: none;
  }
}
